<h1>Iniciar Sesi칩n</h1>
<form action="api/auth/login" method="POST" class="AjaxForm">
    <label for="userUser">Correo Electr칩nico:</label>
    <input type="text" id="userUser" name="userUser" required>
    <br>
    <label for="passwordUser">Contrase침a:</label>
    <input type="password" id="passwordUser" name="passwordUser" required>
    <br>
    <button type="submit">Iniciar Sesi칩n</button>
    <div id="divAlert"></div>
</form>