<h1>Crear Módulo</h1>
<form action="/api/modules" method="POST" class="AjaxForm">
    <label for="nameModule">Nombre del Módulo:</label>
    <input type="text" id="nameModule" name="nameModule" required>
    <br>
    <label for="descriptionModule">Descripción:</label>
    <textarea id="descriptionModule" name="descriptionModule" required></textarea>
    <br>
    <button type="submit">Crear</button>
    <div id="divAlert"></div>
</form>
