<nav>
    <div >
        <a href="/">Inicio</a>
        <button type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
        </button>
        <div id="navbarNav">
            <ul>
                <li>
                    <a href="/users">Usuarios</a>
                </li>
                <li>
                    <a href="/users/create">Crear Usuario</a>
                </li>
                <li>
                    <a href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Administración
                    </a>
                    <ul aria-labelledby="navbarDropdown">
                        <li><a href="/ranks">Rangos</a></li>
                        <li><a href="/ranks/create">Crear Rango</a></li>
                        <li><a href="/permissions">Permisos</a></li>
                        <li><a href="/permissions/create">Crear Permiso</a></li>
                        <li><a href="/rank_permissions">Permisos de Rango</a></li>
                        <li><a href="/rank_permissions/create">Crear Permiso de Rango</a></li>
                        <li><a href="/modules">Módulos</a></li>
                        <li><a href="/modules/create">Crear Módulo</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/about">Acerca de</a>
                </li>
                <li>
                    <a href="/contact">Contacto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
