<h1>Crear Permiso de Rango</h1>
<form action="/api/rank_permissions" method="POST" class="AjaxForm">
    <label for="rankId">ID del Rango:</label>
    <input type="number" id="rankId" name="rankId" required>
    <br>
    <label for="permissionId">ID del Permiso:</label>
    <input type="number" id="permissionId" name="permissionId" required>
    <br>
    <button type="submit">Crear</button>
    <div id="divAlert"></div>
</form>
