<h1>Detalles del Permiso de Rango</h1>
<p>ID del Rango: <%= rankPermission.rankId %></p>
<p>ID del Permiso: <%= rankPermission.permissionId %></p>
<p>Fecha de Creación: <%= rankPermission.createdAtRankPermission %></p>
<p>Fecha de Edición: <%= rankPermission.writedAtRankPermission %></p>
