@keyframes slideDown {
    0% {
        height: 0;
    }
    50% {
        height: calc(auto / 2);
    }
    100% {
        height: auto;
    }
}

.slide-down {
    animation: slideDown 0.5ms ease-in-out;
    overflow: hidden;
}
