:root {
    /* Paleta de colores */
    --color-black: #000000;
    --color-white: #ffffff;
    --color-gray-dark: #414241;
    --color-gray-medium: #5b5e5c;
    --color-gray-mdlight: #8e8f8e;
    --color-gray-light: #f9f9f9;
    --color-red: #f8d7da;
    --color-red-dark: #721c24;
    --color-green-light: #f1faf6;
    --color-blue: #007bff;
    --color-blue-dark: #0056b3;
    --color-transparent: transparent;
    --color-transparent-black: rgba(0, 0, 0, 0.75);
    --color-transparent-white: rgba(255, 255, 255, 0.75);

    /* Colores adicionales */
    --color-yellow: #ffeb3b;
    --color-yellow-dark: #fbc02d;
    --color-orange: #ff9800;
    --color-orange-dark: #f57c00;
    --color-purple: #9c27b0;
    --color-purple-dark: #7b1fa2;
    --color-pink: #e91e63;
    --color-pink-dark: #c2185b;
    --color-teal: #009688;
    --color-teal-dark: #00796b;
    --color-cyan: #00bcd4;
    --color-cyan-dark: #0097a7;
    --color-lime: #cddc39;
    --color-lime-dark: #afb42b;
    --color-amber: #ffc107;
    --color-amber-dark: #ffa000;
    --color-brown: #795548;
    --color-brown-dark: #5d4037;
    --color-bluegray: #607d8b;
    --color-bluegray-dark: #455a64;

    /* Colores principales */
    --primary-color: var(--color-black);
    --secondary-color: var(--color-transparent-black);
    --background-color: linear-gradient(0deg, rgba(24,24,24,1) 0%, rgba(0,0,0,1) 7%, rgba(0,0,0,1) 93%, rgb(41, 41, 41) 100%);
    --header-footer-color: var(--color-transparent);

    /* Colores de texto */
    --text-primary-color: var(--color-white);
    --text-secondary-color: var(--color-gray-light);

    /* Colores de enlaces */
    --link-color: var(--color-gray-medium);
    --link-hover-color: var(--color-gray-dark);

    /* Colores de formularios */
    --form-background-color: var(--color-white);
    --form-border-color: var(--color-transparent);
    --form-input-background-color: var(--color-gray-medium);
    --form-input-background-focus-color: var(--color-gray-mdlight);

    /* Colores de botones */
    --button-primary-background: var(--color-bluegray);
    --button-primary-hover-background: var(--color-bluegray-dark);

    /* Colores de alertas */
    --alert-background-color: var(--color-red);
    --alert-border-color: var(--color-red-dark);
    --alert-text-color: var(--color-red-dark);

    /* tamaño de fuente */
    --font-size: 14px;
    --title-size: 24px;
    --subtitle-size: 20px;
    --text-size: 16px;
    --small-size: 12px;
    --button-size: 16px;
    --input-size: 16px;
    --label-size: 15px;
    --link-size: 16px;
    --alert-size: 16px;
    --suggestions-size: 16px;
}

/* Definir colores en el root */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

/* Ejemplo de estilos CSS */
body {
    background: var(--background-color);
    color: var(--text-secondary-color);
    height: 100vh;
}

/* Estilos generales para la navbar */
nav {
    /* background-color: var(--primary-color); */
    color: var(--text-primary-color);
    padding: 10px;
}

nav a {
    color: var(--text-primary-color);
    text-decoration: none;
    padding: 8px 16px;
    display: inline-block;
}

nav a:hover {
    background-color: var(--secondary-color);
    color: var(--text-secondary-color);
}

nav button {
    background: none;
    border: none;
    color: var(--text-primary-color);
    cursor: pointer;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

nav ul ul {
    display: none;
    position: absolute;
    background-color: var(--primary-color);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

nav ul li {
    position: relative;
}

nav ul li:hover > ul {
    display: block;
}

nav ul li ul li {
    width: 200px;
}

nav ul li ul li a {
    padding: 10px;
    display: block;
}

form {
    margin: 10px auto;
    max-width: 95%;
}


.error {
    padding: 10px;
    margin-top: 10px;
    background-color: var(--alert-background-color);
    border: 1px solid var(--alert-border-color);
    color: var(--alert-text-color);
    font-size: var(--alert-size);
    border-radius: 4px;
}

.datafilter {
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
    border: 2px solid var(--secondary-color);
    border-radius:  0 0 4px 4px;
    background-color: var(--secondary-color);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 1000;
    width: 100%; /* Ajustar el ancho para que coincida con el input */
    display: none;
}

.datafilter li {
    padding: 10px;
    cursor: pointer;
}

.datafilter li:hover {
    background-color: var(--link-hover-color);
    color: var(--text-secondary-color);
}

.form-label {
    display: block;
    margin-bottom: 2px;
    font-size: var(--label-size);
    color: var(--text-primary-color);
}

.form-input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid var(--form-border-color);
    border-radius: 2px;
    background-color: var(--form-input-background-color);
    font-size: var(--input-size);
}

.form-input:focus {
    background-color: var(--form-input-background-focus-color);
}

.form-button {
    background-color: var(--button-primary-background);
    color: var(--text-primary-color);
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: var(--button-size);
}

.form-button:hover {
    background-color: var(--button-primary-hover-background);
}
