/* Definir colores en el root */
:root {
    --primary-color: #4CAF50;
    --secondary-color: #333;
    --background-color: #f0f0f0;
    --header-footer-color: #e7e7e7;
    --text-color: #333;
    --link-color: #4CAF50;
    --link-hover-color: #45a049;
}

/* Ejemplo de estilos CSS */
body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

header {
    background-color: var(--header-footer-color);
    color: white;
    padding: 10px 0;
    text-align: center;
}

footer {
    background-color: var(--header-footer-color);
    color: white;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

h1, h2 {
    color: var(--text-color);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Estilos para la navbar */
nav {
    background-color: var(--primary-color);
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: var(--link-hover-color);
}
