<h1>Crear Rango</h1>
<form action="/api/ranks" method="POST" class="AjaxForm">
    <label for="nameRank">Nombre del Rango:</label>
    <input type="text" id="nameRank" name="nameRank" required>
    <br>
    <button type="submit">Crear</button>
    <div id="divAlert"></div>
</form>
