<h1>Detalles del Rango</h1>
<p>ID: <%= rank.id %></p>
<p>Nombre del Rango: <%= rank.nameRank %></p>
<p>Fecha de Creación: <%= rank.createdAtRank %></p>
<p>Fecha de Edición: <%= rank.writedAtRank %></p>
