<form action="/api/users" method="POST" autocomplete="off" class="AjaxForm" >
    <label for="nameUser" class="form-label">Nombre:</label>
    <input type="text" id="nameUser" name="nameUser" class="form-input">
    <br>
    <label for="userUser" class="form-label">Usuario:</label>
    <input type="text" id="userUser" name="userUser" class="form-input">
    <br>
    <label for="emailUser" class="form-label">Correo Electrónico:</label>
    <input type="email" id="emailUser" name="emailUser" class="form-input">
    <br>
    <label for="rankInput" class="form-label">Rango:</label>
    <input type="text" class="data-filter form-input" id="rankInput" name="rankName" autocomplete="off" data-filter="ranks-rankId-nameRank">
    <input type="hidden" id="rankId" name="rankId">
    <br>
    <button type="submit" class="form-button">Crear</button>
</form>