<form action="/api/users" method="POST" autocomplete="off" >
    <label for="name" class="form-label">Nombre:</label>
    <input type="text" id="name" name="name" class="form-input">
    <br>
    <label for="user" class="form-label">Usuario:</label>
    <input type="text" id="user" name="user" class="form-input">
    <br>
    <label for="email" class="form-label">Correo Electrónico:</label>
    <input type="email" id="email" name="email" class="form-input">
    <br>
    <label for="password" class="form-label">Contraseña:</label>
    <input type="password" id="password" name="password" class="form-input">
    <br>
    <label for="rankInput" class="form-label">Rango:</label>
    <input type="text" class="data-filter form-input" id="rankInput" name="rankName" autocomplete="off" data-filter="ranks-rankId-nameRank">
    <input type="hidden" id="rankId" name="rankId">
    <br>
    <button type="submit" class="form-button">Crear</button>
</form>